@model MVCValidationExample.Models.Register


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

Congratulations @Model.FirstName @Model.LastName!
You have successfully registered!